@keyframes panel-animation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
.control-panel-body {
  background-color: #27272b;
  border: 0.5px solid #0796a7;
  border-radius: 14px;
  width: auto;
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 18px;
  transition: all ease-out 200ms;
  animation: panel-animation 1s linear;
  z-index: 999;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
@keyframes blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.maximize-btn {
  position: fixed !important;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px !important;
  background-color: #ff5e5e !important;
  animation: blink 2s ease-in-out infinite;
}

.call-view-container {
  position: fixed;
  bottom: 5px;
  left: 255px;
  display: flex;
  flex-direction: row;

  gap: 3px;
  z-index: 1000;
  height: 250px;
  width: calc(100vw - 250px);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.call-view-inner {
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: transform 5s ease;
}

.local-stream-container {
  width: 250px;
  height: 100%;
  background-color: #27272b;
  border-radius: 10px;
  position: relative;
}

.remote-stream-container {
}

.remote-box {
  width: 250px;
  height: 100%;
  background-color: #27272b;
  border-radius: 10px;
  position: relative;
}

.incoming-call-container {
  width: 250px;
  height: 250px;
  background-color: #27272b;
  border-radius: 10px;
  position: relative;
}

.incoming-call-inner {
  width: 250px;
  height: 250px;
  background-color: #27272b;
  border-radius: 10px;
  position: relative;
}
