@keyframes panel-animation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
.control-panel-body {
  color: #27272b;

  background-color: #27272b;
  border: 0.5px solid #0796a7;
  border-radius: 10px;
  width: 20vw;
  height: 15vw;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: grid;
  padding: 0 18px;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  cursor: pointer;
  transition: all ease-out 1000ms;
  animation: panel-animation 1s linear;

  /* animation-timing-function: cubic-bezier(0.27, 0.35, 0.71, 1.68); */
  /* animation-iteration-count: 1; */
  z-index: 1000;
  padding: 40px 12px 10px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
@keyframes blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.maximize-btn {
  position: fixed !important;
  bottom: 5vh;
  left: 5vw;
  z-index: 1000;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  height: 70px !important;
  background-color: rgb(236 246 248) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;

  border-width: 0px !important;
  animation: blink 2s ease-in-out infinite;
}
