@keyframes panel-animation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
.control-panel-body {
  background-color: #27272b;
  border: 0.5px solid #0796a7;
  border-radius: 14px;
  width: 250px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  transition: all ease-out 1000ms;
  animation: panel-animation 1s linear;

  /* animation-timing-function: cubic-bezier(0.27, 0.35, 0.71, 1.68); */
  /* animation-iteration-count: 1; */
  z-index: 1000;
  padding: 40px 12px 10px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
@keyframes blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.maximize-btn {
  position: fixed !important;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px !important;
  background-color: #ff5e5e !important;
  animation: blink 2s ease-in-out infinite;
}
